<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin Detail</title>
  <style>
    body {
      background-color: #e0f7fa; /* Light blue background */
      color: #0277bd; /* Dark blue text */
      font-family: Arial, sans-serif; /* Font family */
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }
    h1 {
      font-size: 2.5em; /* Font size for the heading */
    }
  </style>
</head>
<body>
<h1>Welcome Admin!</h1>
</body>
</html>
